In [1]:
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import r2_score
from sklearn.naive_bayes import MultinomialNB

In [2]:
df = pd.read_csv('mergeddataset.csv')

In [3]:
df = df.rename(columns = {'Unnamed: 0':'ID'})

In [4]:
df.columns

Index(['ID', 'school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu',
       'Fedu', 'Mjob', 'Fjob', 'reason', 'nursery', 'internet', 'guardian.x',
       'traveltime.x', 'studytime.x', 'failures.x', 'schoolsup.x', 'famsup.x',
       'paid.x', 'activities.x', 'higher.x', 'romantic.x', 'famrel.x',
       'freetime.x', 'goout.x', 'Dalc.x', 'Walc.x', 'health.x', 'absences.x',
       'G1.x', 'G2.x', 'G3.x', 'guardian.y', 'traveltime.y', 'studytime.y',
       'failures.y', 'schoolsup.y', 'famsup.y', 'paid.y', 'activities.y',
       'higher.y', 'romantic.y', 'famrel.y', 'freetime.y', 'goout.y', 'Dalc.y',
       'Walc.y', 'health.y', 'absences.y', 'G1.y', 'G2.y', 'G3.y'],
      dtype='object')

In [5]:
keepcol=['ID','school','schoolsup.x','traveltime.x', 'studytime.x','paid.x', 'activities.x','higher.x','freetime.x','goout.x','health.x','romantic.x','Dalc.x','Walc.x','schoolsup.y','traveltime.y', 'studytime.y','paid.y', 'activities.y','higher.y','freetime.y','goout.y','health.y','romantic.y','Dalc.y','Walc.y','G1.y', 'G2.y', 'G3.y','G1.x', 'G2.x', 'G3.x']

In [6]:
fildf = df.loc[:,keepcol]

In [7]:
xfeatures = ['ID','schoolsup.x','traveltime.x', 'studytime.x','paid.x','activities.x','higher.x','freetime.x','goout.x','health.x','romantic.x','Dalc.x','Walc.x','G1.x', 'G2.x', 'G3.x']

In [8]:
yfeatures = ['ID','schoolsup.y','traveltime.y', 'studytime.y','paid.y','activities.y','higher.y','freetime.y','goout.y','health.y','romantic.y','Dalc.y','Walc.y','G1.y', 'G2.y', 'G3.y']

In [9]:
fildf_x = fildf.loc[:,xfeatures]

In [10]:
fildf_y = fildf.loc[:,yfeatures]

In [11]:
fildf_x = fildf_x.set_index('ID')
fildf_y = fildf_y.set_index('ID')

In [12]:
fildf_x.columns

Index(['schoolsup.x', 'traveltime.x', 'studytime.x', 'paid.x', 'activities.x',
       'higher.x', 'freetime.x', 'goout.x', 'health.x', 'romantic.x', 'Dalc.x',
       'Walc.x', 'G1.x', 'G2.x', 'G3.x'],
      dtype='object')

In [ ]:
sns1 = fildf_x.corr()
sn.heatmap(sns1, annot=True)
plt.show()

In [ ]:
sns2 = fildf_y.corr()
sn.heatmap(sns2, annot=True)
plt.show()

In [ ]:
sn.pairplot(fildf_x)

In [13]:
fildf_x.dtypes

schoolsup.x     object
traveltime.x     int64
studytime.x      int64
paid.x          object
activities.x    object
higher.x        object
freetime.x       int64
goout.x          int64
health.x         int64
romantic.x      object
Dalc.x           int64
Walc.x           int64
G1.x             int64
G2.x             int64
G3.x             int64
dtype: object

In [14]:
label_encoder = preprocessing.LabelEncoder()

In [15]:
fildf_x

,schoolsup.x,traveltime.x,studytime.x,paid.x,activities.x,higher.x,freetime.x,goout.x,health.x,romantic.x,Dalc.x,Walc.x,G1.x,G2.x,G3.x
ID,,,,,,,,,,,,,,,
1,yes,2,4,yes,yes,yes,1,2,1,no,1,1,7,10,10
2,yes,1,2,no,no,yes,3,4,5,yes,2,4,8,6,5
3,yes,1,1,yes,yes,yes,3,1,2,no,1,1,14,13,13
4,yes,1,3,yes,yes,yes,3,2,5,no,1,1,10,9,8
5,no,2,3,yes,yes,yes,2,1,3,yes,2,3,10,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,no,1,1,no,no,no,3,3,3,yes,2,3,8,7,8
379,no,2,3,yes,no,yes,2,2,5,yes,2,2,13,13,13
380,no,3,1,no,no,yes,4,4,5,no,3,3,8,8,8
381,no,3,2,no,no,yes,4,4,2,no,3,3,8,7,8
382,no,2,1,no,no,yes,3,2,5,no,1,3,6,5,0

In [16]:
fildf_x['schoolsup.x']= label_encoder.fit_transform(fildf_x['schoolsup.x'])
fildf_x['paid.x']= label_encoder.fit_transform(fildf_x['paid.x'])
fildf_x['activities.x']= label_encoder.fit_transform(fildf_x['activities.x'])
fildf_x['higher.x']= label_encoder.fit_transform(fildf_x['higher.x'])
fildf_x['romantic.x']= label_encoder.fit_transform(fildf_x['romantic.x'])

In [17]:
fildf_x

,schoolsup.x,traveltime.x,studytime.x,paid.x,activities.x,higher.x,freetime.x,goout.x,health.x,romantic.x,Dalc.x,Walc.x,G1.x,G2.x,G3.x
ID,,,,,,,,,,,,,,,
1,1,2,4,1,1,1,1,2,1,0,1,1,7,10,10
2,1,1,2,0,0,1,3,4,5,1,2,4,8,6,5
3,1,1,1,1,1,1,3,1,2,0,1,1,14,13,13
4,1,1,3,1,1,1,3,2,5,0,1,1,10,9,8
5,0,2,3,1,1,1,2,1,3,1,2,3,10,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,0,1,1,0,0,0,3,3,3,1,2,3,8,7,8
379,0,2,3,1,0,1,2,2,5,1,2,2,13,13,13
380,0,3,1,0,0,1,4,4,5,0,3,3,8,8,8
381,0,3,2,0,0,1,4,4,2,0,3,3,8,7,8
382,0,2,1,0,0,1,3,2,5,0,1,3,6,5,0

In [18]:
fildf_y['schoolsup.y']= label_encoder.fit_transform(fildf_y['schoolsup.y'])
fildf_y['paid.y']= label_encoder.fit_transform(fildf_y['paid.y'])
fildf_y['activities.y']= label_encoder.fit_transform(fildf_y['activities.y'])
fildf_y['higher.y']= label_encoder.fit_transform(fildf_y['higher.y'])
fildf_y['romantic.y']= label_encoder.fit_transform(fildf_y['romantic.y'])

In [19]:
def convertmarks(mark):
    if mark<10:
        return 'A'
    elif mark<16 and mark>9:
        return 'B'
    else:
        return 'C'

In [20]:
newlist=[]
for i in fildf_x['G1.x']:
    x = convertmarks(i)
    newlist.append(x)
fildf_x['New G1'] = newlist

In [21]:
newlist=[]
for i in fildf_x['G2.x']:
    x = convertmarks(i)
    newlist.append(x)
fildf_x['New G2'] = newlist

In [22]:
newlist=[]
for i in fildf_x['G3.x']:
    x = convertmarks(i)
    newlist.append(x)
fildf_x['New G3'] = newlist

In [23]:
newlist=[]
for i in fildf_y['G1.y']:
    x = convertmarks(i)
    newlist.append(x)
fildf_y['New G1'] = newlist

In [24]:
newlist=[]
for i in fildf_y['G2.y']:
    x = convertmarks(i)
    newlist.append(x)
fildf_y['New G2'] = newlist

In [25]:
newlist=[]
for i in fildf_y['G3.y']:
    x = convertmarks(i)
    newlist.append(x)
fildf_y['New G3'] = newlist

In [26]:
fildf_y

,schoolsup.y,traveltime.y,studytime.y,paid.y,activities.y,higher.y,freetime.y,goout.y,health.y,romantic.y,Dalc.y,Walc.y,G1.y,G2.y,G3.y,New G1,New G2,New G3
ID,,,,,,,,,,,,,,,,,,
1,1,2,4,1,1,1,1,2,1,0,1,1,13,13,13,B,B,B
2,1,1,2,0,0,1,3,4,5,1,2,4,13,11,11,B,B,B
3,1,1,1,0,1,1,3,1,2,0,1,1,14,13,12,B,B,B
4,1,1,3,0,1,1,3,2,5,0,1,1,10,11,10,B,B,B
5,0,2,3,1,1,1,2,1,3,1,2,3,13,13,13,B,B,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,0,1,1,0,0,0,3,3,3,1,2,3,9,10,9,A,B,A
379,0,2,3,0,0,1,2,2,5,1,2,2,15,16,16,B,C,C
380,0,3,1,0,0,1,4,4,5,0,3,3,8,9,10,A,A,B
381,0,3,2,0,0,1,4,4,2,0,3,3,10,9,11,B,A,B
382,0,2,1,0,0,1,3,2,5,0,1,3,5,8,0,A,A,A

In [27]:
fildf_y['New G1']= label_encoder.fit_transform(fildf_y['New G1'])
fildf_y['New G2']= label_encoder.fit_transform(fildf_y['New G2'])
fildf_y['New G3']= label_encoder.fit_transform(fildf_y['New G3'])

In [29]:
fildf_y

,schoolsup.y,traveltime.y,studytime.y,paid.y,activities.y,higher.y,freetime.y,goout.y,health.y,romantic.y,Dalc.y,Walc.y,G1.y,G2.y,G3.y,New G1,New G2,New G3
ID,,,,,,,,,,,,,,,,,,
1,1,2,4,1,1,1,1,2,1,0,1,1,13,13,13,1,1,1
2,1,1,2,0,0,1,3,4,5,1,2,4,13,11,11,1,1,1
3,1,1,1,0,1,1,3,1,2,0,1,1,14,13,12,1,1,1
4,1,1,3,0,1,1,3,2,5,0,1,1,10,11,10,1,1,1
5,0,2,3,1,1,1,2,1,3,1,2,3,13,13,13,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,0,1,1,0,0,0,3,3,3,1,2,3,9,10,9,0,1,0
379,0,2,3,0,0,1,2,2,5,1,2,2,15,16,16,1,2,2
380,0,3,1,0,0,1,4,4,5,0,3,3,8,9,10,0,0,1
381,0,3,2,0,0,1,4,4,2,0,3,3,10,9,11,1,0,1
382,0,2,1,0,0,1,3,2,5,0,1,3,5,8,0,0,0,0

In [28]:
fildf_x['New G1']= label_encoder.fit_transform(fildf_x['New G1'])
fildf_x['New G2']= label_encoder.fit_transform(fildf_x['New G2'])
fildf_x['New G3']= label_encoder.fit_transform(fildf_x['New G3'])

In [ ]:
fildf_x = fildf_x.drop(['G1.x','G2.x','G3.x'],axis=1)
fildf_y = fildf_y.drop(['G1.y','G2.y','G3.y'],axis=1)

In [ ]:
features_x_G1 = fildf_x.drop(['New G1','New G2','New G3'],axis=1)
features_x_G2 = fildf_x.drop(['New G2','New G3'],axis=1)
features_x_G3 = fildf_x.drop(['New G3'],axis=1)

In [ ]:
features_y_G1 = fildf_y.drop(['New G1','New G2','New G3'],axis=1)
features_y_G2 = fildf_y.drop(['New G2','New G3'],axis=1)
features_y_G3 = fildf_y.drop(['New G3'],axis=1)

In [ ]:
target_x_G1 = fildf_x['New G1']
target_x_G2 = fildf_x['New G2']
target_x_G3 = fildf_x['New G3']

In [ ]:
target_y_G1 = fildf_y['New G1']
target_y_G2 = fildf_y['New G2']
target_y_G3 = fildf_x['New G3']

In [ ]:
X_train_x_G1, X_test_x_G1, y_train_x_G1, y_test_x_G1 = train_test_split(features_x_G1, target_x_G1, test_size=0.25, random_state=42)
X_train_x_G2, X_test_x_G2, y_train_x_G2, y_test_x_G2 = train_test_split(features_x_G2, target_x_G2, test_size=0.25, random_state=42)
X_train_x_G3, X_test_x_G3, y_train_x_G3, y_test_x_G3 = train_test_split(features_x_G3, target_x_G3, test_size=0.25, random_state=42)

In [ ]:
X_train_y_G1, X_test_y_G1, y_train_y_G1, y_test_y_G1 = train_test_split(features_y_G1, target_y_G1, test_size=0.25, random_state=42)
X_train_y_G2, X_test_y_G2, y_train_y_G2, y_test_y_G2 = train_test_split(features_y_G2, target_y_G2, test_size=0.25, random_state=42)
X_train_y_G3, X_test_y_G3, y_train_y_G3, y_test_y_G3 = train_test_split(features_y_G3, target_y_G3, test_size=0.25, random_state=42)

In [ ]:
clf = MultinomialNB()

In [ ]:
clf.fit(X_train_x_G1,y_train_x_G1)
y_pred_x_G1 = clf.predict(X_test_x_G1)
print(accuracy_score(y_pred_x_G1,y_test_x_G1))

In [ ]:
clf.fit(X_train_x_G2,y_train_x_G2)
y_pred_x_G2 = clf.predict(X_test_x_G2)
print(accuracy_score(y_pred_x_G2,y_test_x_G2))

In [ ]:
clf.fit(X_train_x_G3,y_train_x_G3)
y_pred_x_G3= clf.predict(X_test_x_G3)
print(accuracy_score(y_pred_x_G3,y_test_x_G3))

In [ ]:
clf.fit(X_train_y_G1,y_train_y_G1)
y_pred_y_G1 = clf.predict(X_test_y_G1)
print(accuracy_score(y_pred_y_G1,y_test_y_G1))

In [ ]:
clf.fit(X_train_y_G2,y_train_y_G2)
y_pred_y_G2 = clf.predict(X_test_y_G2)
print(accuracy_score(y_pred_y_G2,y_test_y_G2))

In [ ]:
clf.fit(X_train_y_G3,y_train_y_G3)
y_pred_y_G3 = clf.predict(X_test_y_G3)
print(accuracy_score(y_pred_y_G3,y_test_y_G3))

In [ ]:
dtc = DecisionTreeClassifier()

In [ ]:
imp_dict={}
dtc.fit(X_train_x_G1,y_train_x_G1)
y_pred_x_G1 = dtc.predict(X_test_x_G1)
print(accuracy_score(y_pred_x_G1,y_test_x_G1))
for importance, name in sorted(zip(dtc.feature_importances_, X_train_x_G1.columns),reverse=True):
    imp_dict[name] = importance
    print('Feature '+name+ ' and its importance is '+str(importance))
plt.bar(range(len(imp_dict)), list(imp_dict.values()), align='center')
plt.xticks(range(len(imp_dict)), list(imp_dict.keys()),rotation=90)

In [ ]:
imp_dict={}
dtc.fit(X_train_x_G2,y_train_x_G2)
y_pred_x_G2 = dtc.predict(X_test_x_G2)
print(accuracy_score(y_pred_x_G2,y_test_x_G2))
for importance, name in sorted(zip(dtc.feature_importances_, X_train_x_G2.columns),reverse=True):
    imp_dict[name] = importance
    print('Feature '+name+ ' and its importance is '+str(importance))
plt.bar(range(len(imp_dict)), list(imp_dict.values()), align='center')
plt.xticks(range(len(imp_dict)), list(imp_dict.keys()),rotation=90)

In [ ]:
imp_dict={}
dtc.fit(X_train_x_G3,y_train_x_G3)
y_pred_x_G3= dtc.predict(X_test_x_G3)
print(accuracy_score(y_pred_x_G3,y_test_x_G3))
for importance, name in sorted(zip(dtc.feature_importances_, X_train_x_G3.columns),reverse=True):
    imp_dict[name] = importance
    print('Feature '+name+ ' and its importance is '+str(importance))
plt.bar(range(len(imp_dict)), list(imp_dict.values()), align='center')
plt.xticks(range(len(imp_dict)), list(imp_dict.keys()),rotation=90)

In [ ]:
imp_dict={}
dtc.fit(X_train_y_G1,y_train_y_G1)
y_pred_y_G1 = dtc.predict(X_test_y_G1)
print(accuracy_score(y_pred_y_G1,y_test_y_G1))
for importance, name in sorted(zip(dtc.feature_importances_, X_train_y_G1.columns),reverse=True):
    imp_dict[name] = importance
    print('Feature '+name+ ' and its importance is '+str(importance))
plt.bar(range(len(imp_dict)), list(imp_dict.values()), align='center')
plt.xticks(range(len(imp_dict)), list(imp_dict.keys()),rotation=90)

In [ ]:
imp_dict={}
dtc.fit(X_train_y_G2,y_train_y_G2)
y_pred_y_G2 = dtc.predict(X_test_y_G2)
print(accuracy_score(y_pred_y_G2,y_test_y_G2))
for importance, name in sorted(zip(dtc.feature_importances_, X_train_y_G2.columns),reverse=True):
        imp_dict[name] = importance
        print('Feature '+name+ ' and its importance is '+str(importance))
plt.bar(range(len(imp_dict)), list(imp_dict.values()), align='center')
plt.xticks(range(len(imp_dict)), list(imp_dict.keys()),rotation=90)

In [ ]:
imp_dict={}
dtc.fit(X_train_y_G3,y_train_y_G3)
y_pred_y_G3 = dtc.predict(X_test_y_G3)
print(accuracy_score(y_pred_y_G3,y_test_y_G3))
for importance, name in sorted(zip(dtc.feature_importances_, X_train_y_G3.columns),reverse=True):
    imp_dict[name] = importance
    print ('Feature '+name+ ' and its importance is '+str(importance))
plt.bar(range(len(imp_dict)), list(imp_dict.values()), align='center')
plt.xticks(range(len(imp_dict)), list(imp_dict.keys()),rotation=90)